{% if current_project is defined %}
<li>
    <a href="{{ path('declick_project_show') }}" class="content-link" data-active="project" data-title="project">
        {{'navbar.project_info'|trans }} 
    </a>
</li>
<li role="separator" class="divider"></li>
<li>
    <a href="{{ path('declick_project_list') }}" class="content-link" data-active="project" data-title="project">
        {{'navbar.projects'|trans }} 
    </a>
</li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<li role="separator" class="divider"></li>
<li>
    <a href="{{ path('declick_exercise_list') }}" class="content-link" data-active="project">
        {{ 'navbar.exercises'|trans }}
    </a>
</li>
<li>
    <a href="{{ path('declick_admin_index') }}" class="content-link" data-active="profile">
        {{ 'navbar.admin'|trans }}
    </a>
</li>
{% endif %}
